.table td,
  .table th {
    text-align: center;
  }

  .modal-content {
    background-color: black;
    color: white;
  }

  .form-control {
    background-color: black;
    color: white;
    border-color: white;
  }
  
  .form-control.clicked {
    color: black; }
